{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
   {% for message in messages %}
      <h5 class="{{ message.tags }}"> {{ message }} </h5>
  {% endfor %}
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="POST">
    {% csrf_token %}
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Email address</label>
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
     </div> 
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}