{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action">All mobile</a>
                <a href="{% url 'mobiledata' 'redmi' %}" class="list-group-item list-group-item-action">Redmi</a>
                <a href="{% url 'mobiledata' 'iphone' %}" class="list-group-item list-group-item-action">Iphone</a>
                <a href="{% url 'mobiledata' 'realme' %}" class="list-group-item list-group-item-action">Realme</a>
                <a href="{% url 'mobiledata' 'bellow' %}" class="list-group-item list-group-item-action">Below</a>
                <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action">Above</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                {% for mobile in mobiles %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' mobile.id %}" class="btn">
                        <div class="item">
                            <img src="{{ mobile.product_image.url }}" alt="Mobile Image" height="300" class="">
                            <div class="fw-bold">{{ mobile.title }}</div>
                            <div class="fw-bold">
                                RS.{{ mobile.discount_price }}
                                <small class="fw-light text-decoration-line-through">{{ mobile.sellingprice }}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

  </div>
 </div>
</div>
{% endblock main-content %}