{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{request.user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary"> Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
  {% for message in messages %}
    <h5 class="{{ message.tags }}"> {{ message }} </h5>
  {% endfor %} 
   <form action="" method="POST">
    {% csrf_token %}
    <div class="col-12">
      <label for="inputName" class="form-label">Name</label> 
      <input type="text" class="form-control" id="inputEmail" name="name">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Locality</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="locality">
    </div>
    <div class="col-12">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity" name="city"> 
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select" name="state">
        <option selected>Choose...</option>
        {% for state in state_list %}
        <option value={{state}}>{{state}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="zip_code">
    </div>
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}